<div class="container">
  <div class="row mt-5">
    <h3 class="text-center">Choose the student batch</h3>
  </div>
  <%= simple_form_for @batch do |f| %>
    <div class="row mt-5">
      <div class="col-8">
        <%= f.input :batch_number,
                    as: :radio_buttons,
                    legend_tag: false,
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    label_method: -> (batch_number) {
                      "#{image_tag('logolw.png', height: 24, class: 'me-3')} Batch #{batch_number}".html_safe
                    },
                    input_html: {class: 'category-selector tag-selector',value: "Batch number: #{f.object.batch_number}"},
                    collection: @batch_numbers %>
      </div>
      <div class="col-4">
        <%= image_tag "classroom2.jpg", class: 'w-100 form-side-image' %>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <%= f.button :submit, class: "btn btn-primary d-block mx-auto w-50", value: "Next, choose recruiters" %>
    </div>
  <% end %>
</div>
