
<div class="col-6"  data-controller="show-bookings" data-show-bookings-api-key-value="<%=@api_key%>"></div> </div>

<ul id="results" class="list-group list-group-horizontal" data-movies-target="results"></ul>
