<div class="d-flex flex-row">
  <div class="half">
    <%= image_tag "careerfactory_logo.png" %>
  </div>

  <div class="half">

<%= link_to new_campaign_path, class: "btn btn-primary" do   %>
Create a Campaign
<i class="fa-solid fa-cube"></i>
<% end %>

  </div>
</div>
