.category-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-item {
  background-size: cover;
  background-position: center;
  margin: 0 0 1.2rem 0px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 2rem;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  flex: 0 0 30%;
  aspect-ratio: 2 / 1;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image.jpg");
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  padding: 0;
  height: 100%;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.category-selector:checked + label {
  color: #EF5D60 !important;
}
