<div class="choose-batch">
          <%= simple_form_for @campaign do |f| %>
            <div class="steps">
              <h3>Choose the student batch</h3>
            </div>
            <%= f.input :batch_number,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: User.select(:batch_number).distinct.order(:batch_number).pluck(:batch_number), label:"Pick a batch number"%>

</div>
