<div class="row">
  <div class="col-8">
    <%= simple_form_for @campaign do |f| %>
        <div class="steps">
          <h3>Choose the student batch</h3>
        </div>
        <%= f.input :batch_number,
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        collection: @batch_numbers, label:"Pick a batch number"%>
        <%= f.button :submit, class: "btn btn-primary", button_html: { class: "btn btn-primary" } %>

      <% end %>
  </div>
    <div class="col-4 photo-container">
      <%= image_tag "classroom2.jpg"%>
    </div>
</div>
