<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" data-controller="byebye">
  <div class="banner-content text-center">
    <h1>Organising career speed dating meetings is a breeze</h1>
    <p>Hit the button below to get started</p>
      <%= link_to "Start now", new_campaign_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
