<li><strong>Candidates:</strong> <%= @candidates.length %></li>
<li><strong>Recruiters:</strong> <%= @recruiters.length %></li>


<li><strong>Candidates:</strong>
  <ul>
    <% @candidates.each do |candidate| %>
      <li><%= candidate.full_name_and_company %></li>
    <% end %>
  </ul>
</li>
<li><strong>Recruiters:</strong>
  <ul>
    <% @recruiters.each do |recruiter| %>
      <li><%= recruiter.full_name_and_company %></li>
    <% end %>
  </ul>
</li>
