
<div class="all" data-controller="all-checkboxes">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" data-action="change->all-checkboxes#toggle">
    <label class="form-check-label" for="flexCheckDefault">
      check all
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" data-all-checkboxes-target="box">
    <label class="form-check-label" >
      Default checkbox
    </label>
  </div>

</div>
