<div class="main-container">
  <div class="general-index-container" data-controller="cards" data-action="click->cards#selectCard">
    <div class="general-index-title">
      <h2>These are the recruiters participating in the speed-dating</h2>
      <p>Click in for more detail</p>
    </div>
    <div class="general-index-card-container">
      <% @recruiters.each do |recruiter| %>
        <div class="general-index-card">
          <div class="general-index-card-img-container">
          <% if recruiter.company.photo.attached? %>
            <%= cl_image_tag recruiter.company.photo.key %>
          <% else %>
            <%= image_tag "no_photo.png" %>
          <% end %>
          </div>
            <div class="general-index-card-description-container">
              <%= recruiter.full_name_and_company %>
              <div class="mx-auto">
              <div class="btn btn-primary" data-cal-link="<%=recruiter.cal_link%>">Schedule a meeting</div>
            </div>
<script type="text/javascript">
(function (C, A, L) {
  let p = function (a, ar) { a.q.push(ar); };
  let d = C.document;
  C.Cal = C.Cal || function () {
    let cal = C.Cal;
    let ar = arguments;
    if (!cal.loaded) {
      cal.ns = {};
      cal.q = cal.q || [];
      d.head.appendChild(d.createElement("script")).src = A;
      cal.loaded = true;
    }
    if (ar[0] === L) {
      const api = function () { p(api, arguments); };
      const namespace = ar[1];
      api.q = api.q || [];
      typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar);
      return;
    }
    p(cal, ar);
  };
})(window, "https://app.cal.com/embed/embed.js", "init");

Cal("init", {origin:"https://app.cal.com"});

// Important: Make sure to add `data-cal-link="antoine-vaissi--lumxva/15min"` attribute to the element you want to open Cal on click
Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false});
</script>

            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
