<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="navbar-minimal">
        <img src="images/planet.png" class="circular">
    </div>

    <div class="container">

      <div class="dashboard">
        <div class="dashboard-card main">
          <div class="dashboard-card-content">
            <img src="images/student1.jpeg" alt="" width="150" class="img-circle">
            <h2>Bruce Power</h2>
            <p>Technical recruiter at Planet</p>
            <!-- Cal element-click embed code begins -->
            <script type="text/javascript">
            (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
            Cal("init", {origin:"https://app.cal.com"});

            // Important: Make sure to add `data-cal-link="antoine-vaissi--lumxva/30min"` attribute to the element you want to open Cal on click
            Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false});
            </script>
            <!-- Cal element-click embed code ends -->
            <span class="btn btn-primary btn-lg" data-cal-link="www.cal.com/email-a/30mn">Book a meeting</span>
          </div>
        </div>
        <div class="dashboard-card stat">
          <div class="dashboard-card-content">
            <h3>Skills I'm looking for</h3>
            <form>
              <div class="tag-item">

                <input class="tag-selector" id="react" name="technology" value="React">
                <label for="react">React</label>
                <input class="tag-selector" id="vue" name="technology" value="Vue.js">
                <label for="vue">Vue.js</label>
                <input class="tag-selector" id="angular" name="technology" value="Angular">
                <label for="angular">Angular</label>
                <input class="tag-selector" id="rails" name="technology" value="Ruby on Rails">
                <label for="rails">Ruby on Rails</label>
                <input class="tag-selector" id="node" name="technology" value="Node.js">
                <label for="node">Node.js</label>
                <input class="tag-selector" id="express" name="technology" value="Express.js">
                <label for="express">Express.js</label>
                <input class="tag-selector" id="django" name="technology" value="Django">
                <label for="django">Django</label>
                <input class="tag-selector" id="flask" name="technology" value="Flask">
                <label for="flask">Flask</label>
                <input class="tag-selector" id="laravel" name="technology" value="Laravel">
                <label for="laravel">Laravel</label>
                <input class="tag-selector" id="symfony" name="technology" value="Symfony">
                <label for="symfony">Symfony</label>
              </form>
            </div>

          </div>
        </div>
        <div class="dashboard-card stat">
          <div class="dashboard-card-content">
            <h3>Looking for candidates with:</h3>

              <p class="text-justify">
                * Strong skills in web development, with expertise in one or more programming languages and frameworks<br>
                * A passion for staying up-to-date with the latest technologies and trends in web development<br>
                * Strong problem-solving and critical thinking skills, with the ability to tackle complex coding challenges<br>
                * A willingness to travel and work in a fast-paced, dynamic environment
              </p>

            </div>
          </div>

        <div class="dashboard-card description">
          <div class="dashboard-card-content">
            <h3>More about Bruce:</h3>
            <p class="text-justify">
              Are you looking to build a successful career in web development with a company that truly values its employees? I'm here to help! With my passion for web development and my deep understanding of the industry, I specialize in connecting talented developers with the best companies out there. I'm dedicated to helping you find the perfect job to fit your skills and passion, and I'm always on the lookout for the best and brightest developers out there. With my help, you can take your career to the next level and achieve your goals in web development.
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
